Repository erupsi/erupsi-erp, pull requests merged in 2025-08, with the labels that each got.

#41 Update CODEOWNERS for Auth Service and User Service
  docs/CODEOWNERS
Labels: docs

#42 Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: workflow

#43 Fix/auth service
  src/backend/auth-service/package.json
  src/backend/user-service/package.json
Labels: backend, package

#44 change: change certs dir
  package-lock.json
  src/backend/auth-service/package.json
  src/backend/auth-service/src/app.js
Labels: bug, backend, source, package
